.add-button {
    background-color: rgb(33, 37, 41);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 35px;
    bottom: 20px;
    transition: 0.5s;
    border: 2px solid #fff;
    cursor: pointer;
}

.add-button:hover {
    transform: rotate(90deg);
}

.add-icon {
    font-size: 50px;
    color: #adb5bd
}

.back-button {
    background-color: rgb(33, 37, 41);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 35px;
    top: 75px;
    transition: 0.5s;
    border: 2px solid #fff;
    cursor: pointer;
}